<h1>Real Time Products</h1>

<div id="contenedorProductos"></div>

<h2>Agregar Productos</h2>
<form action="">
    <input type="text" id="title" placeholder="Titulo">
    <input type="text" id="description" placeholder="Descripcion">
    <input type="number" id="price" placeholder="Precio">
    <input type="text" id="img" value="Sin Imagen">
    <input type="text" id="code" placeholder="codigo">
    <input type="number" id="stock" placeholder="stock">
    <input type="text" id="category" placeholder="categoria">
    <select id="status">
        <option value="true">Activado</option>
        <option value="false">inactivado</option>
    </select>
    <button type="button" id="btnEnviar">Enviar</button>
</form>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>